.App {
  font-family: sans-serif;
  text-align: center;
}
.modal {
  background: rgba(14, 13, 13, 0.6);
}
.modal-container {
  position: absolute;
  width: 60%;
  background: #ffffff;
  left: 20%;
  top: 10%;
  padding: 20px;
  height: 85%;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.divPadding {
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}

.container {
  padding-bottom: 1.5rem;
  border-radius: 5px;
  box-shadow: -1px 2px 34px -13px rgba(0, 0, 0, 0.75);
  border: 1px solid #ccc;
  display: inline-block;
  max-width: 300px;
  height: 150px;
}
/*
.container :hover {
  box-shadow: 0 0 10px #ccc;
  overflow: hidden;
}
*/
.containerimg {
  width: auto;
  height: auto;
  max-width: 100px;
}

div.container desc {
  float: left;
  margin: 10px;
  width: auto;
  max-width: 100px;
}

.btn {
  background-color: rgb(244, 247, 250);
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}
